section.tvc-about-4.pt(data-scroll="1")
	.container
		.home-project-bg-wrapper
			.article-title-red-line-m0
				p Giới thiệu dự án
			.row.bg-grey
				.col-lg-8
					h2 Trao tặng Thư viện Container đến các trường Tiểu học và THCS tại các vùng nông thôn nghèo
				.col-lg-4
					.home-project-text-wrapper
						p
							strong - Địa điểm : 
							span Các  tỉnh khu vực miền Đông, Tây Nam bộ
						p
							strong - Số lượng: 
							span 01 trường tiểu học và 01 trường THCS
						p
							strong - Thời gian: 
							span Phát động dự án thàng 11/2019
							