//Type 1 first child icon
.modulepager
	display: flex
	justify-content: center
	align-items: center
	padding-bottom: 50px
	ul
		padding: 0
		margin: 0
		position: relative
		li
			display: inline-block
			padding: 0 10px
			&:last-child()
				position: relative
				&:after
					font-family: 'Material Design Icons'
					content: '\f142'
					font-size: 20px
			&.active
				a,span
					color: #ffffff
					background: $main
					border: none
			span,a
				display: flex
				justify-content: center
				align-items: center
				width: 32px
				height: 32px
				border: 2px solid #e1e1e1
				text-decoration: none
				color: #e1e1e1
				font-size: 16px
			
//Type 2  normal
.modulepager
	display: flex
	justify-content: center
	align-items: center
	padding-bottom: 50px
	ul
		padding: 0
		margin: 0
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			z-index: 1
			bottom: -5px
			width: 100%
			height: 2px
			background: #e6e6e6
		li
			display: inline
			padding: 0 10px
			&.active
				position: relative
				&:after
					content: ''
					display: block
					position: absolute
					left: 0
					bottom: -7px
					z-index: 2
					width: 100%
					height: 2px
					background: #009579
				a
					color: #009579
			span
				color: #009579
			a
				text-decoration: none
				color: #333333
				font-size: 16px
				em
					color: #666666
					font-size: 18px
