section.tvc-project-list-1.pt(data-scroll="4")
	.container
		.row
			.col-md-6
				.home-project-bg-wrapper
					.article-title-red-line-m0
						h2 Tiêu chí nhận tài trợ:
					.bg-grey
						h3 Trường Tiểu học & THCS chưa có thư viện, thư viện xuống cấp, không đủ công năng phục vụ
						h3 Thuộc vùng nông thôn nghèo
						h3 Địa điểm phù hợp vận chuyển, lắp đặt Container
						h3 Cam kết bố trí nhân sự vận hành thư viện
						h3 LƯU Ý: Đối với những nơi đủ điều kiện nhưng container không thể đến được, BTC sẽ để dành cho format 2 của dự án: Thư viện lắp ghép bằng vật liệu nhẹ
			.col-md-6
				.home-project-bg-wrapper
					.article-title-red-line-m0
						h2 Cam kết khi nhận tài trợ:
					.bg-grey
						h3 Bố trí nhân sự vận hành thư viện
						h3 YBA sẽ tổ chức kiểm tra định kỳ
						h3 YBA sẽ thu hồi Thư viên Container khi phát hiện vi phạm cam kết
