footer
	section.footer-top
		.container
			.row
				.col-lg-4
					.footer-logo-wrapper
						a(href="#")
							img(src="./img/logo-1.png", alt="")
							h2 Hội doanh nhân trẻ thành phố hồ chí minh
					.social-network-wrapper
						.social-icon
							a(href="#")
								em.fab.fa-facebook-f
						.social-icon
							a(href="#")
								em.fab.fa-twitter
						.social-icon
							a(href="#")
								em.fab.fa-youtube
				.col-sm-6.col-lg-4
					h3 Thông tin liên hệ và nhận sách 
					ul
						li Lầu 3-Số 1 Phạm  Ngọc Thạch, P.Bến Nghé,Q.1
						li Người liên hệ: Ms. YếnThu - Bộ phận truyền thông
						li ĐT: 
							a(href="tel:02838273137") 028.3827.3137
							|  - Email: thupty@ybahcm.com.vn
				.col-sm-6.col-lg-4
					h3 Thông tin tiếp nhận
					ul
						li Tài khoản: Hội Doanh Nhân Trẻ Thành phố Hồ Chí Minh
						li Số tài khoản: 007 100 1215789
						li Ngân hàng: Vietcombank - CN Hồ Chí Minh - PGD GiaĐịnh
	section.footer-bottom
		.container
			.row
				.copy-right
					p © 2019 YBA. Tất cả các quyền được bảo hộ. Thiết kế bởi 
						a(href="https://www.canhcam.vn") Cánh cam
				.policy-wrapper
					ul
						li
							a(href="#")  Sơ đồ trang web
						li
							a(href="#")  Chính sách bảo mật
						li
							a(href="#")  Điều khoản sử dụng
					.messenger-wrapper
						a(href="#")
							em.mdi.mdi-email
							span Để lại lời nhắn

