header
	.mobile-wrapper
	section.header-yba
		.container
			.header-wrapper-left
				.navbrand
					a
						img(src="./img/logo-1.png", alt="")
					a
						img(src="./img/logo-2.png", alt="")
			.heade-wrapper-right
				.header-wrapper-top
					.contact-wrapper
						.contact-information
							a(href="tel:0123456789")
								em.mdi.mdi-phone
								| 0123 456 789
					.language-wrapper
						ul.language-list
							li.has-dropdown
								span EN
								em.mdi.mdi-chevron-down
								ul.nav-sub
									li
										a(href="#")  EN 
									li
										a(href="#")  VN
					.search-wrapper
						.search-toggle
						.searchbox
							input
							button
								em.mdi.mdi-magnify
					.mobile-toggle
						em.lnr.lnr-menu
				.header-wrapper-bottom
					ul
						li.has-sub.active
							a(href="javascript:void(0)") Giới thiệu
							ul.nav-sub
								li
									a(href="#") Lý do thực hiện
								li
									a(href="#") Đội tượng dự án
								li
									a(href="#") Quy trình thực hiên
						li.has-sub
							a(href="javascript:void(0)") Dự án
							ul.nav-sub
								li
									a(href="#") Lý do thực hiện
								li
									a(href="#") Đội tượng dự án
								li
									a(href="#") Quy trình thực hiên
						li.has-sub
							a(href="javascript:void(0)") Đơn vị tài trợ
						li
							a(href="javascript:void(0)") Tin tức - Sự kiện
						li
							a(href="javascript:void(0)") Thư viện
						li
							a(href="javascript:void(0)") Liên hệ
		
