section.home-partner-swiper.pt
	.container
		.home-partner-navigation-prev
		.home-partner-navigation-next
		.article-title-red-line
			p Đơn vị đồng hành
		.home-partner-swiper-wrapper
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/3.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/4.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/5.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/3.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/4.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/5.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
