#news1
section.tvc-news-1.pt
	.container
		.article-title-red-line
			p Tin tức & Sự kiện
		.row
			.col-sm-12.col-md-8.col-lg-6.news-big
				.figure-news.big-news
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/9.png", alt="")
					figcaption
						time 24/02/2019
						h2
							a(href="#") Xây dựng quy trình: nhập – mã hóa – quản lý sách tại thư viện bằng công nghệ
			.col-sm-6.col-md-4.col-lg-3.news-small
				.figure-news
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/10.png", alt="")
					figcaption
						time 24/02/2019
						h2
							a(href="#") Phối hợp với tổ chức giáo dục, CLB tổ chức các sự  kiện
						
						p Phối hợp vớitổ chức  giáo dục, CLBtổ chức cácsự  kiện: kỹ năng sống, Phối hợp vớitổ chức  giáo dục, CLBtổ chức cácsự  kiện: kỹ năng sống, ...
			.col-sm-6.col-md-4.col-lg-3.news-small
				.figure-news
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/11.png", alt="")
					figcaption
						time 24/02/2019
						h2
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
						
						p Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật ,Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật  ...
			.col-sm-6.col-md-4.col-lg-3.news-small
				.figure-news
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
					figcaption
						time 24/02/2019
						h2
							a(href="#") Phối hợp với tổ chức giáo dục, CLB tổ chức các sự  kiện
						.brief-content
							p Phối hợp vớitổ chức  giáo dục, CLBtổ chức cácsự  kiện: kỹ năng sống, Phối hợp vớitổ chức  giáo dục, CLBtổ chức cácsự  kiện: kỹ năng sống, ...
			.col-sm-6.col-md-4.col-lg-3.news-small
				.figure-news
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/2.png", alt="")
					figcaption
						time 24/02/2019
						h2
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
						.brief-content
							p Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật ,Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật  ...
			.col-sm-6.col-md-4.col-lg-3.news-small
				.figure-news
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/3.png", alt="")
					figcaption
						time 24/02/2019
						h2
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
						.brief-content
							p Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật ,Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật  ...
			.col-sm-6.col-md-4.col-lg-3.news-small
				.figure-news
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/4.png", alt="")
					figcaption
						time 24/02/2019
						h2
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
						.brief-content
							p Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật ,Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật  ...
