section.tvc-news-2.pt#news2
	.container
		.article-title-red-line
			p Giới thiệu Đơn vị đồng hành
		.main-nav
			.item(data-tab='1').active Dự án - TVC01
			.item(data-tab='2') Dự án - TVC02
		.main-content
			.content-item(data-content='1').active
				.row
					-for(x=0; x<4; x++)
						.col-sm-6.col-md-4.col-lg-3
							.figure-news
								.figure-image
									.wrapper
										a(href="#")
											img(src="./img/news/4.png", alt="")
								figcaption
									time 24/02/2019
									h2
										a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
									.brief-content
										p Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật ,Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật  ...
			.content-item(data-content='2')
				.row
					-for(x=0; x<4; x++)
						.col-sm-6.col-md-4.col-lg-3
							.figure-news
								.figure-image
									.wrapper
										a(href="#")
											img(src="./img/news/5.png", alt="")
								figcaption
									time 24/02/2019
									h2
										a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
									.brief-content
										p Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật ,Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật  ...
