section.tvc-nav.about
    .container 
        .nav-mobile Danh mục
            em.mdi.mdi-chevron-down
        .main-wrap
            ul 
                li(data-nav="1")
                    a.active(href="javascript:void(0)") Lý do thực hiện
                li(data-nav="2")
                    a(href="javascript:void(0)") Đối tượng dự án
                li(data-nav="3")
                    a(href="javascript:void(0)") Quy trình thực hiện
