section.home-chart-number.pt
	.container
		.article-title-red-line
			p Con số ấn tượng
		.row
			.col-6.col-lg-3
				.home-chart-number-item
					h2 2
						span tỷ
					p Số tiền quyên góp
			.col-6.col-lg-3
				.home-chart-number-item
					h2 20
					p Đơn vị tài trợ
			.col-6.col-lg-3
				.home-chart-number-item
					h2 19
					p Thư viện đã trao
			.col-6.col-lg-3
				.home-chart-number-item
					h2 30
					p Dự án
