<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="About list" value="2" resourcefile="" />
      <add name="Thư viện" value="4" resourcefile="" />
      <add name="Đơn vị đồng hành" value="8" resourcefile="" />
      <add name="HomeGTDA" value="16" resourcefile="" />
      <add name="HomeLDTH" value="32" resourcefile="" />
      <add name="HomeDTDA" value="64" resourcefile="" />
      <add name="Dự án đã thực hiện" value="128" resourcefile="" />
      <add name="Con số ấn tượng" value="256" resourcefile="" />
      <add name="Tin nổi bật" value="512" resourcefile="" />
      <add name="Thư viện Container" value="1024" resourcefile="" />
      <add name="Đơn vị tài trợ" value="2048" resourcefile="" />
      <add name="tab tin tức" value="4096" resourcefile="" />
    </position>

</settings>