section.home-project-complete.pt
	.container
		.article-title-red-line
			p Các dự án đã thực hiện
		.row
			.col-lg-9
				.row
					.col-sm-6
						.figure-project
							.figure-image
								.wrapper
									a(href="#")
										img(src="./img/news/4.png", alt="")
							figcaption
								time 24/02/2019
								h3.text-left
									a(href="#") Xây dựng quy trình: nhập – mã hóa – quản lý sách tại thư viện bằng công nghệ
								p Xây dựng quy trình: nhập – mã hóa – quản lý sách tại thư viện bằng công nghệ

					.col-sm-6
						.figure-project
							.figure-image
								.wrapper
									a(href="#")
										img(src="./img/news/5.png", alt="")
							figcaption
								time 24/02/2019
								h3.text-left
									a(href="#") Phối hợp với tổ chức giáo dục, CLB tổ chức các sự  kiện
								p Phối hợp với tổ chức giáo dục, CLB tổ chức các sự  kiện
					.col-sm-6.col-lg-4
						.figure-project
							.figure-image
								.wrapper
									a(href="#")
										img(src="./img/news/6.png", alt="")
							figcaption
								time 24/02/2019
								h4.text-left
									a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
					.col-sm-6.col-lg-4
						.figure-project
							.figure-image
								.wrapper
									a(href="#")
										img(src="./img/news/7.png", alt="")
							figcaption
								time 24/02/2019
								h4.text-left
									a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
					.col-sm-6.col-lg-4
						.figure-project
							.figure-image
								.wrapper
									a(href="#")
										img(src="./img/news/8.png", alt="")
							figcaption
								time 24/02/2019
								h4.text-left
									a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  

			.col-lg-3
				.home-project-complete-banner
					a(href="#")
						img(src="./img/banner/b1.png", alt="")

					a(href="#")
						img(src="./img/banner/b2.png", alt="")
