section.home-gallery.pt
	.container
		.article-title-red-line
			p Thư viện container
		.row
			.col-lg-6
				.home-gallery-swiper-wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.wrapper
									.lightgallery
										a(href="./img/thumb/1.png")
											img(src="./img/thumb/1.png", alt="")
										a(href="./img/thumb/2.png")
											img(src="./img/thumb/2.png", alt="")
										a(href="./img/thumb/3.png")
											img(src="./img/thumb/3.png", alt="")
									.caption
										em.mdi.mdi-image
										p Hoạt động, vận hành thư viện, cập nhật
							.swiper-slide
								.wrapper
									.lightgallery
										a(href="./img/thumb/3.png")
											img(src="./img/thumb/3.png", alt="")
										a(href="./img/thumb/2.png")
											img(src="./img/thumb/2.png", alt="")
										a(href="./img/thumb/3.png")
											img(src="./img/thumb/3.png", alt="")
									.caption
										em.mdi.mdi-image
										p Hoạt động, vận hành thư viện, cập nhật
							.swiper-slide
								.wrapper
									.lightgallery
										a(href="./img/thumb/2.png")
											img(src="./img/thumb/2.png", alt="")
										a(href="./img/thumb/2.png")
											img(src="./img/thumb/2.png", alt="")
										a(href="./img/thumb/3.png")
											img(src="./img/thumb/3.png", alt="")
									.caption
										em.mdi.mdi-image
										p Hoạt động, vận hành thư viện, cập nhật
									
							.swiper-slide
								.wrapper
									.lightgallery
										a(href="./img/thumb/1.png")
											img(src="./img/thumb/1.png", alt="")
										a(href="./img/thumb/2.png")
											img(src="./img/thumb/2.png", alt="")
										a(href="./img/thumb/3.png")
											img(src="./img/thumb/3.png", alt="")
									.caption
										em.mdi.mdi-image
										p Hoạt động, vận hành thư viện, cập nhật
						.home-gallery-pagination.swiper-pagination
			.col-lg-6
				.row
					.col-6
						.home-gallery-video
							.lightgallery
								a(href="https://www.youtube.com/watch?v=mQR0bXO_yI8")
									img(src="./img/thumb/2.png", alt="")
							.caption
								em.mdi.mdi-play-circle
								p Hoạt động, vận hành thư viện, cập nhật

					.col-6
						.home-gallery-video
							.lightgallery
								a(href="https://www.youtube.com/watch?v=mQR0bXO_yI8")
									img(src="./img/thumb/3.png", alt="")
							.caption
								em.mdi.mdi-play-circle
								p Hoạt động, vận hành thư viện, cập nhật
					.col-6
						.home-gallery-video
							.lightgallery
								a(href="https://www.youtube.com/watch?v=mQR0bXO_yI8")
									img(src="./img/thumb/4.png", alt="")
							.caption
								em.mdi.mdi-play-circle
								p Hoạt động, vận hành thư viện, cập nhật
					.col-6
						.home-gallery-video
							.lightgallery
								a(href="https://www.youtube.com/watch?v=mQR0bXO_yI8")
									img(src="./img/thumb/5.png", alt="")
							.caption
								em.mdi.mdi-play-circle
								p Hoạt động, vận hành thư viện, cập nhật
