section.home-chart-reason.pt
	.container
		.article-title-red-line
			p Lý do thực hiện
		.row
			.col-12.col-sm-6.col-md-3
				figure
					.figure-image
						.wrapper
							img(src="./img/chart/1.png", alt="")
					figcaption
						p  Mang tính cơ động và chủ  động, dễ dàng phối hợp với các đơn vị khác
			.col-12.col-sm-6.col-md-3
				figure
					.figure-image
						.wrapper
							img(src="./img/chart/2.png", alt="")
					figcaption
						p  Thi công nhanh, hiện đại và đẹp mắt
			.col-12.col-sm-6.col-md-3
				figure
					.figure-image
						.wrapper
							img(src="./img/chart/3.png", alt="")
					figcaption
						p  Dễ dàng quảng bá, giới thiệu trong quá trình vận chuyển
			.col-12.col-sm-6.col-md-3
				figure
					.figure-image
						.wrapper
							img(src="./img/chart/4.png", alt="")
					figcaption
						p  Dễ dàng đóng gói và thực hiện ở nhiều nơi

