section.tvc-news-detail.pt
	.container
		.row
			.col-lg-9 
				.main-detail 
					.date 
						time 24/02/2019
					.title
						h1 Những thành quả vượt mong đợt từ Hành trình Kết nối giao thương với Đồng Tháp
					.share
						#sharenews
					.brief-content
					.full-content
						.nas-body-article-detail
							p(style='text-align: justify;')
								| Trong khuôn khổ các hoạt động nhằm chào mừng kỉ niệm 25 năm ngày thành lập Hội Doanh nhân trẻ Tp. HCM, từ ngày 06/09 đến ngày 07/09/2019, YBA.HCM đã tổ chức chương trình Caravan Hành trình Kết Nối Giao Thương kết hợp trao tặng Thư viện Container lần 2, với cung đường: Tp. HCM – Đồng Tháp – Tp. HCM. Hành trình đã quy tụ 150 thành viên Đoàn đến từ Hội Doanh nhân trẻ Tp. HCM, Hội Doanh nhân trẻ Bình Dương, Hội Doanh nhân trẻ Long An với 48 xe tự lái đã cùng nhau trải qua nhiều cung bậc cảm xúc thú vị và đạt được nhiều kết quả thiết thực trong suốt chuyến hành trình.
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/1.jpg', style='width: 100%; height: 100%;')
							br 
							p(style='text-align: justify;')
								img(alt='', src='./img/news/2.jpg', style='width: 100%; height: 100%;')
							br 
							p(style='text-align: justify;')
								img(alt='', src='./img/news/3.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								| Đồng Tháp với phương châm nhất quán “đồng hành cùng Doanh nghiệp”, luôn quan tâm đến công tác cải cách hành chính, cải thiện hình ảnh địa phương nhằm kêu gọi đầu tư, tìm kiếm nguồn lực trong và ngoài nước thông qua Đại sứ quán và Hiệp hội Doanh nghiệp các nước có quan hệ kinh tế với Việt Nam.
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/4.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/5.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								| Hội nghị Xúc tiến thương mại – kết nối giao thương Tỉnh Đồng Tháp với sự tham dự của Ông Phạm Thiện Nghĩa – Phó chủ tịch UBND Tỉnh Đồng Tháp, Ông Đặng Xuân Huy – Phó chủ tịch Hội Doanh nhân trẻ Việt Nam, Ông Lâm Ngọc Minh – Chủ tịch và Bà Tiêu Yến Trinh – Phó chủ tịch Hội Doanh nhân trẻ Tp. HCM, Ông Trần Huy Hiển – Phó chủ tịch Hội Doanh nhân trẻ Đồng Tháp, cùng với 150 thành viên Đoàn Caravan và hơn 60 thành viên của Tỉnh Đồng Tháp.
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/6.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/7.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								| Các DN đã chia làm 3 nhóm: thương mại dịch vụ, bao gồm chế biến thực phẩm và du lịch; nhóm dịch vụ phụ trợ cho DN; nhóm bất động sản, xây dựng, pháp lý và tài chính để trao đổi, thảo luận, giới thiệu về sản phẩm của đơn vị mình để tiến đến ký kết hợp tác, đầu tư. Hội nghị đã kết nối 200 Doanh nghiệp với nhau, đã có tổng cộng 23 MOU được thiết lập, với tổng giá trị gần 72 tỷ đồng. Trong đó, có 1 MOU kí kết giữa Tỉnh Đồng Tháp với Thắng Lợi Group, 22 MOU giữa các thành viên Đoàn, và với Doanh nhân Đồng Tháp.
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/8.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/9.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/10.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								| Hòa trong không khí vui tươi và sôi động trong đêm giao lưu giữa Lãnh đạo Tỉnh Đồng Tháp – Hội Doanh nhân trẻ Đồng Tháp với thành viên Đoàn, nhóm Lô tô Đồng Hồ đã huy động được thêm 54.000.000 VND cho Thư viện Container được trao tặng cho Trường tiểu học Mỹ Hòa 1 ở Tháp Mười, Đồng Tháp. Và vượt ngoài mong đợi của BTC, khi nhận thấy được giá trị của Thư viện Container dành cho thế hệ tương lai của đất nước, Nhà máy gạch Tuynel cao cấp Bích Huyền đã quyết định tài trợ 100.000.000 VND và Thắng Lợi Group tài trợ thêm 50.000.000 VND, cũng như huy động được thêm từ các thành viên khác số tiền là 75.000.000 VND cho Dự án Thư viện Container trong tương lai; dự kiến sẽ được trao tại Long An và Bến Tre vào tháng 12 sắp đến.
							br
							p(style='text-align: justify;')
								| Vào sáng ngày 07.09.2019, Thư viện Container thứ 2 đã được chính thức khánh thành tại trường tiểu học Mỹ Hòa 1 ở Tháp Mười, Đồng Tháp. Nhìn các cháu học sinh háu hức cầm trên tay những quyển sách mới với nhiều nội dung thú vị mà trước giờ các cháu chưa có điều kiện tiếp cận; cũng như hào hứng khi ngồi trước bộ máy tính mới tinh, chiếc smart tivi cùng 2 chiếc máy tính bảng để có thể tiếp cận tri thức mới đầy màu sắc và sống động qua internet, qua những kênh truyền hình sinh động dành riêng cho các cháu.
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/11.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/12.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/13.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/14.jpg', style='width: 100%; height: 100%;')
							br
							p(style='text-align: justify;')
								img(alt='', src='./img/news/15.jpg', style='width: 100%; height: 100%;')
							br

			.col-lg-3.scroll-on-desktop
				.main-other
					.title
						h2 Tin tức khác
					.main-item
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/1.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/2.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/3.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/4.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="/containerlibrary/news.html#news1") Xem thêm
				.main-other(style="margin-top: 15px")
					.title
						h2 Đơn vị đồng hành
					.main-item
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/11.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/13.jpg", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/9.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/3.jpg", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="/containerlibrary/news.html#news2") Xem thêm
section.tvc-news-detail-1.pt
	.container
		.row
			.col-lg-9.no-event
			.col-lg-3.scroll-on-desktop
				.main-other
					.title
						h2 Tin tức khác
					.main-item
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/1.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/2.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/3.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/4.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="/containerlibrary/news.html#news1") Xem thêm
				.main-other(style="margin-top: 15px")
					.title
						h2 Đơn vị đồng hành
					.main-item
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/11.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/13.jpg", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/9.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/3.jpg", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="/containerlibrary/news.html#news2") Xem thêm
