section.tvc-news-detail.pt
	.container
		.row
			.col-lg-9 
				.main-detail 
					.date 
						time 24/02/2019
					.title
						h1 Xây dựng quy trình: nhập – mã hóa – quản lý sách tại thư viện bằng công nghệ -cot
					.share
						#sharenews
					.brief-content
						p SAU KHI GHI DẤU MẠNH MẼ VỚI DÒNG NHÀ PHỐ, BIỆT THỰ, KHANG ĐIỀN CHO RA MẮT JAMILA – DỰ ÁN CĂN HỘ ĐƯỢC THIẾT KẾ THEO PHONG CÁCH SINGAPORE VÀ GÂY “SỐT” THỊ TRƯỜNG VỚI NHỮNG CON SỐ ẤN TƯỢNG: 100% CĂN HỘ ĐÃ ĐƯỢC BÁN HẾT CHỈ SAU VÀI THÁNG, HƠN 1200 KHÁCH HÀNG THAM DỰ SỰ KIỆN TRI ÂN…
						br 
						p TOÀN BỘ DỰ ÁN GẦN 900 CĂN HỘ ĐÃ CÓ CHỦ – HƠN 1200 KHÁCH HÀNG DỰ SỰ KIỆN TRI ÂN
					.full-content
						div(style='text-align: justify;')
							img(alt='', src='./img/news/11-1.jpg', width='100%')
						p(style='text-align: center;')
							em Toàn bộ dự án gần 900 căn hộ đã  bán hết trong vài tháng
						br
						p(style='text-align: justify;')
							| Chỉ sau vài tháng mở bán, toàn bộ dự án với gần 900 căn hộ tại Jamila tìm được chủ nhân. Cụ thể, trong lễ giới thiệu đầu tiên đã có hơn 700 khách hàng tham dự với 500 phiếu đặt giữ chỗ, vượt xa con số dự kiến của CĐT. Thành công tiếp nối thành công, tại lễ công bố đợt 2 cũng có hơn 500 quan khách hiện diện và đến 80% khách hàng tại sự kiện nhanh chóng “xuống tiền” để chọn được những căn ưng ý nhất. Đặc biệt, vào lễ mở bán Đợt 3 – sự kiện giới thiệu Block B, Jamila tiếp tục khẳng định được vị thế khi không thuyên giảm sức hút mà ngược lại còn gia tăng rất nhiều – 150 căn hộ tìm được chủ nhân chỉ sau vài tiếng công bố.
						br 
						div(style='text-align: justify;')
							img(alt='', src='./img/news/11-2.jpg', width='100%')
						p(style='text-align: center;')
							em Hơn 1200 khách hàng đến từ rất sớm đăng ký tham gia chương trình
						br
						p(style='text-align: justify;')
							| Đáp lại sự tin yêu của khách hàng, vào ngày 17/3 vừa qua, Khang Điền đã tổ chức sự kiện tri ân “Sở hữu Jamila – Rinh Honda Civic” thành công rực rỡ với sự tham dự của hơn 1200 quan khách. Chiếc Honda Civic trị giá hơn 1 tỷ đồng đã thuộc về khách hàng Nguyễn Xuân Đạt: “Chương trình hôm nay quả thật rất hoành tráng và đông vui, tôi không nghĩ là có nhiều người tham dự đến vậy. Bất ngờ và hạnh phúc nhất là khi trúng chiếc Honda Civic từ CĐT, đến bây giờ tôi vẫn còn hồi hộp.” anh Đạt chia sẻ.
						br
						div(style='text-align: justify;')
							img(alt='', src='./img/news/11-3.jpg', width='100%')
						p(style='text-align: center;')
							em Quan khách cùng người thân và bạn bè tìm hiểu dự án căn hộ Jamila
						br
						div(style='text-align: justify;')
							img(alt='', src='./img/news/11-4.jpg', width='100%')
						p(style='text-align: center;')
							em Khách hàng cùng chờ đón bốc thăm giải đặc biệt Honda Civic
						br
						p(style='text-align: justify;')
							em
								strong Jamila –  4 mặt tiếp giáp đường lớn và sông
						p(style='text-align: justify;')
							| Ngoài tâm huyết vượt bậc của CĐT và thiết kế không gian sống xanh, sức hút của Jamila còn đến từ vị trí đắc địa –  4 mặt tiếp giáp đường lớn và sông, thuận tiện di chuyển và có tiềm năng gia tăng giá trị lớn. Dự án tọa lạc ngay mặt tiền đường Song Hành, góc giao nhau với cao tốc TP.HCM – Long Thành – Dầu Giây. Từ đây, cư dân chỉ mất 5-10 phút để đến khu đô thị Thủ Thiêm, Phú Mỹ Hưng, quận 1… Trong vòng bán kính 3km là hệ thống tiện ích đa dạng gồm: trường quốc tế TAS, các trường tiểu học, chợ Phú Hữu, sân Golf An Phú,…
						br
						div(style='text-align: justify;')
							img(alt='', src='./img/news/11-5.jpg', width='100%')
						p(style='text-align: center;')
							em Toàn cảnh dự án căn hộ Jamila
						br
						p(style='text-align: justify;')
							| Hơn thế nữa, “ra mắt” ngay trong giai đoạn thị trường “khát” căn hộ xanh; và trong lúc khu Đông đang nhận được sự quan tâm đặc biệt của thành phố nên Jamila đón được làn sóng an cư và đầu tư rất lớn của thị trường. Hầm vượt sông Sài Gòn, cao tốc TP.HCM – Long Thành – Dầu Giây, tuyến đường sắt Metro… đã thể hiện rõ nét định hướng biến khu Đông thành “khu đô thị vệ tinh” của TP.HCM. Giờ đây, Đông Sài Gòn được xem là cửa ngõ kết nối TP.HCM với “tam giác kinh tế” trọng điểm Bình Dương, Đồng Nai và Vũng Tàu. Nhiều chuyên gia nhận định, tuy phát triển sau nhưng khu Đông lại được quy hoạch đồng bộ nên “đủ sức” để trở thành “vùng kinh tế mới”, tạo sức bật để phát triển kinh tế, văn hóa, xã hội… cho khu vực. Chọn mua BĐS tại Jamila nói riêng và Đông TP.HCM nói chung được đánh giá là lựa chọn tối ưu khi vừa sở hữu chốn an cư vừa là cơ hội đầu tư hấp dẫn.
						br
						div(style='text-align: justify;')
							img(alt='', src='./img/news/11-6.jpg', width='100%')
						p(style='text-align: center;')
							em Toàn bộ khu tiện ích dự án căn hộ Jamila
						br
						p(style='text-align: justify;') Box:
						p(style='text-align: justify;')
							| Sau thành công vang dội của Jamila, sắp tới Khang Điền sẽ công bố khu căn hộ mới chỉ cách trung tâm Quận 1 và Phú Mỹ Hưng 10-15 phút di chuyển; tọa lạc trong khu vực phát triển đồng bộ, xung quanh là các khu nhà thấp tầng nên tầm nhìn không bị che khuất, thoáng đãng. Dự án được thiết kế theo phong cách Singapore, rất thích hợp cho các gia đình trẻ yêu thích cuộc sống năng động, hiện đại và gần gũi thiên nhiên. Nơi đây, được Khang Điền kỳ vọng sẽ là chốn an cư lý tưởng mang đến những phút giây thăng hoa và nâng tầm cuộc sống cho cư dân.
						br
						p(style='text-align: justify;')
							strong Mọi thông tin chi tiết vui lòng liên hệ:
						p(style='text-align: justify;') Hotline: 0937 83 30 83 – 0938 779 660 – 0939 00 1357 – 0908 622 177
						p(style='text-align: justify;')
							| Website: 
							a(href='http://www.jamila.com.vn') www.jamila.com.vn
						br
			.col-lg-3
				.main-other
					.title
						h2 Tin tức khác
					.main-item
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/1.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/2.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/3.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
						.item
							a(href="#")
								figure
									.image
										img(src="./img/news/4.png", alt="")
									figcaption
										.date
											time 01/09/2019
										.title
											h3 Phối hợp với tổ chức giáo dục, CLB tổ chức các sự kiện
