block var

doctype html

html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=vietnamese', rel='stylesheet')

		title #{title}

	body(class=bodyClass)
		block header
			include ../components/_global/header.pug
		main
			block main
		block footer
			include ../components/_global/footer.pug
		script(src="./js/core.min.js")
		script(src="./js/main.min.js")
