extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/home/banner/index
	include ../components/about/nav/index
	include ../components/about/ab-4/index
	include ../components/about/ab-1/index
	include ../components/about/ab-2/index
	include ../components/about/ab-3/index
