extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/banner/index.pug
	include ../components/home/partner-1/index.pug
	include ../components/home/project-1/index.pug
	include ../components/home/chart-1/index.pug
	include ../components/home/project-2/index.pug
	include ../components/home/project-3/index.pug
	include ../components/home/chart-2/index.pug
	include ../components/home/news/index.pug
	include ../components/home/gallery/index.pug
	include ../components/home/partner-2/index.pug
	
