extends _layout.pug

block var
	- var title = 'Project'
	- var bodyClass = 'project-page'

block main
	include ../components/home/banner/index
	include ../components/home/chart-2/index
	include ../components/project-list/index
	include ../components/pagination/index
