section.tvc-project-list-1.pt
	.container
		.row
			.col-md-6
				.home-project-bg-wrapper
					.article-title-red-line-m0
						h2 Tiêu chí nhận tài trợ:
					.bg-grey
						h3 Trường Tiểu học & THCS chưa có thư viện, thư viện xuống cấp, không đủ công năng phục vụ
						h3 Thuộc vùng nông thôn nghèo
						h3 Địa điểm phù hợp vận chuyển, lắp đặt Container
						h3 Cam kết bố trí nhân sự vận hành thư viện
						h3 LƯU Ý: Đối với những nơi đủ điều kiện nhưng container không thể đến được, BTC sẽ để dành cho format 2 của dự án: Thư viện lắp ghép bằng vật liệu nhẹ
			.col-md-6
				.home-project-bg-wrapper
					.article-title-red-line-m0
						h2 Cam kết khi nhận tài trợ:
					.bg-grey
						h3 Bố trí nhân sự vận hành thư viện
						h3 YBA sẽ tổ chức kiểm tra định kỳ
						h3 YBA sẽ thu hồi Thư viên Container khi phát hiện vi phạm cam kết

section.tvc-project-list.pt
	.container
		.article-title-red-line
			p Dự án
		.row
			.col-sm-6
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/4.png", alt="")
					figcaption
						time 24/02/2019
						h3.text-left
							a(href="#") Xây dựng quy trình: nhập – mã hóa – quản lý sách tại thư viện bằng công nghệ
						p Xây dựng quy trình: nhập – mã hóa – quản lý sách tại thư viện bằng công nghệ

			.col-sm-6
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/5.png", alt="")
					figcaption
						time 24/02/2019
						h3.text-left
							a(href="#") Phối hợp với tổ chức giáo dục, CLB tổ chức các sự  kiện
						p Phối hợp với tổ chức giáo dục, CLB tổ chức các sự  kiện
			.col-sm-6.col-lg-3
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/6.png", alt="")
					figcaption
						time 24/02/2019
						h4.text-left
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
			.col-sm-6.col-lg-3
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/7.png", alt="")
					figcaption
						time 24/02/2019
						h4.text-left
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
			.col-sm-6.col-lg-3
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/8.png", alt="")
					figcaption
						time 24/02/2019
						h4.text-left
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật
			.col-sm-6.col-lg-3
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/9.png", alt="")
					figcaption
						time 24/02/2019
						h4.text-left
							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật
