section.button-contact(data-fancybox="modal" data-src="#view-popup-contact" data-modal="true")
	.main-button
		em.mdi.mdi-contact-mail
section.popup-contact#view-popup-contact(style="display: none;")
	.box-info
		.title
			h3 Thông tin liên hệ và nhận sách:
		.addresss
			p Lầu 3 - số 1 Phạm Ngọc Thạch, p. Bến Nghé, Q1
		.main-item
			.item 
				h4 Người liên hệ: Ms Yến Thu - Bộ phận truyền thông
				p  
					em.mdi.mdi-phone 
					| SĐT: 
					a(href="tel: 028 3827 3137") (028.3827.3137
				p  
					em.mdi.mdi-email 
					| Email: 
					a(href="mailto: thupty@ybahcm.com.vn") thupty@ybahcm.com.vn
		.title
			h3 Thông tin tiếp nhận:
		.addresss
			p Tài khoản: Hội Doanh Nhân Trẻ Thành phố Hồ Chí Minh
			p Số tài khoản: 0071001215789
			p Ngân hàng: Vietcombank - CN Hồ Chí Minh -PGD Gia Định
			p Họ tên người gửi/tên Doanh nghiệp + Ủng hộ Thư viện Container
		.main-item
			.item 
				h4 * Chi tiết xin vui lòng liên hệ:
				p - Ms. Thùy Trang - Kế toán YBA-HCM
				p - 
					em.mdi.mdi-phone 
					| ĐT: 
					a(href="tel: 028 3827 3137") 028.3827.3137 
				p - 
					em.mdi.mdi-email 
					| Email: 
					a(href="mailto: trangntn@ybahcm.com.vn") trangntn@ybahcm.com.vn
	.button-close
		a(href="javacript:void(0)" data-fancybox-close)
			em.mdi.mdi-close
