section.tvc-contact.pt
	.container
		.article-title-red-line
			h2 Thông tin liên hệ
		.main-contact
			.row
				.col-md-4 
					.box-info
						.title
							h3 CÔNG TY CỔ PHẦN THƯ VIỆN CONTAINER
						.addresss
							p Unit 1&2, Tầng 11, Tòa nhà Saigon Centre Office Tower 2, 67 Lê Lợi, P. Bến Nghé, Quận 1, TP. Hồ Chí Minh
						.main-item
							.item 
								h4 Văn phòng Hội sở
								p Điện thoại: 
									a(href="tel: (84-28) 3820 8858") (84-28) 3820 8858
								p Fax: 
									a(href="tel: (84-28) 3820 8859") (84-28) 3820 8859
								p Email: 
									a(href="mailto: info@khangdien.com.vn") info@khangdien.com.vn
							.item 
								h4 Văn phòng Hội sở
								p Điện thoại: 
									a(href="tel: (84-28) 3820 8858") (84-28) 3820 8858
								p Fax: 
									a(href="tel: (84-28) 3820 8859") (84-28) 3820 8859
								p Email: 
									a(href="mailto: info@khangdien.com.vn") info@khangdien.com.vn
							.item 
								h4 Văn phòng Hội sở
								p Điện thoại: 
									a(href="tel: (84-28) 3820 8858") (84-28) 3820 8858
								p Fax: 
									a(href="tel: (84-28) 3820 8859") (84-28) 3820 8859
								p Email: 
									a(href="mailto: info@khangdien.com.vn") info@khangdien.com.vn
				.col-md-8 
					.box-contact
						.title
							h3 GỬI TIN NHẮN ĐẾN CHÚNG TÔI
						.sub-title 
							p Quý khách có thể liên hệ trực tiếp với chúng tôi để được tư vấn hoặc vui lòng điền thông tin vào mẫu bên dưới. Chúng tôi sẽ phản hồi trong thời gian sớm nhất.
						.main-form
							.form-group
								label(for="") Họ và Tên*
								input(type="text", placeholder="Nhập họ và tên")
							.form-group
								label(for="") Điện thoại
								input(type="text", placeholder="Nhập Điện thoại")
							.form-group
								label(for="") Địa chỉ
								input(type="text", placeholder="Nhập Địa chỉ")
							.form-group
								label(for="") Email*
								input(type="text", placeholder="Nhập Email")
							.form-group
								label(for="") Nội dung
								textarea()
							.form-group.frm-btnwrap
								.frm-btn
									input(type="submit" value="Gửi")
		.main-maps
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.95674435280043!2d106.6969880206401!3d10.787712581281966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f34e0269c1d%3A0xeb9e8e1c4e7cbdd9!2zQ8O0bmcgdHkgQ-G7lSBQaOG6p24gVGjGsMahbmcgTeG6oWkgVGjDoWMgTcah!5e0!3m2!1svi!2s!4v1568278165443!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="")
