section.tvc-contact.pt
	.container
		.article-title-red-line
			h2 Thông tin liên hệ
		.main-contact
			.row
				.col-md-4 
					.box-info
						.title
							h3 Thông tin liên hệ và nhận sách:
						.addresss
							p Lầu 3 - số 1 Phạm Ngọc Thạch, p. Bến Nghé, Q1
						.main-item
							.item 
								h4 Người liên hệ: Ms Yến Thu - Bộ phận truyền thông
								p SĐT:
									a(href="tel: 028 3827 3137") (028.3827.3137
								p Email:
									a(href="mailto: thupty@ybahcm.com.vn") thupty@ybahcm.com.vn
						.title
							h3 Thông tin tiếp nhận:
						.addresss
							p Tài khoản: Hội Doanh Nhân Trẻ Thành phố Hồ Chí Minh
							p Số tài khoản: 0071001215789
							p Ngân hàng: Vietcombank - CN Hồ Chí Minh -PGD Gia Định
							p Họ tên người gửi/tên Doanh nghiệp + Ủng hộ Thư viện Container
						.main-item
							.item 
								h4 * Chi tiết xin vui lòng liên hệ:
								p - Ms. Thùy Trang - Kế toán YBA-HCM
								p - ĐT:
									a(href="tel: 028 3827 3137") 028.3827.3137 
								p - Email: 
									a(href="mailto: trangntn@ybahcm.com.vn") trangntn@ybahcm.com.vn
				.col-md-8 
					.box-contact
						.title
							h3 GỬI TIN NHẮN ĐẾN CHÚNG TÔI
						.sub-title 
							p Quý khách có thể liên hệ trực tiếp với chúng tôi để được tư vấn hoặc vui lòng điền thông tin vào mẫu bên dưới. Chúng tôi sẽ phản hồi trong thời gian sớm nhất.
						.main-form
							.form-group
								label(for="") Họ và Tên*
								input(type="text")
							.form-group
								label(for="") Điện thoại
								input(type="text")
							.form-group
								label(for="") Địa chỉ
								input(type="text")
							.form-group
								label(for="") Email*
								input(type="text")
							.form-group
								label(for="") Nội dung
								textarea()
							.form-group.frm-btnwrap
								.frm-btn
									input(type="submit" value="Gửi")
		.main-maps
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.398363786759!2d106.6953156152604!3d10.780770362060409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f37ae8e51ad%3A0x1def113bd2d9664!2zMSBQaOG6oW0gTmfhu41jIFRo4bqhY2gsIELhur9uIE5naMOpLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1568282631610!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="")
