section.home-swiper-banner-top
	.container
		.home-swiper-banner-top-wrapper
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						img(src="./img/banner/1.png", alt="")
					.swiper-slide
						img(src="./img/banner/1.png", alt="")
					.swiper-slide
						img(src="./img/banner/1.png", alt="")
				.swiper-pagination
