section.tvc-nav.gallery-tab
	.container
		.main-nav
			.item(data-tab='1').active Hình ảnh
			.item(data-tab='2') Video
		.main-content
			.content-item(data-content='1').active
				.article-title-red-line
					h2 Hình ảnh
				.main-images
					.line-image
						.image-big
							.item
								.lightgallery
									a(href="./img/news/1.png")
										figure
											.image
												img(src="./img/news/1.png", alt="")
											figcaption
												em.mdi.mdi-image
												.title
													h3 Dự án 1
									a(href="./img/news/11.png")
										img(src="./img/news/11.png", alt="")
									a(href="./img/news/10.png")
										img(src="./img/news/10.png", alt="")
									a(href="./img/news/9.png")
										img(src="./img/news/9.png", alt="")
									a(href="./img/news/8.png")
										img(src="./img/news/8.png", alt="")
						.image-small
							.item
								.lightgallery
									a(href="./img/news/2.png")
										figure
											.image
												img(src="./img/news/2.png", alt="")
											figcaption
												em.mdi.mdi-image
												.title
													h3 Dự án 2
							.item
								.lightgallery
									a(href="./img/news/3.png")
										figure
											.image
												img(src="./img/news/3.png", alt="")
											figcaption
												em.mdi.mdi-image
												.title
													h3 Dự án 3
					.line-image
						.image-small
							.item
								.lightgallery
									a(href="./img/news/4.png")
										figure
											.image
												img(src="./img/news/4.png", alt="")
											figcaption
												em.mdi.mdi-image
												.title
													h3 Dự án 4
							.item
								.lightgallery
									a(href="./img/news/5.png")
										figure
											.image
												img(src="./img/news/5.png", alt="")
											figcaption
												em.mdi.mdi-image
												.title
													h3 Dự án 5
						.image-big
							.item
								.lightgallery
									a(href="./img/news/6.png")
										figure
											.image
												img(src="./img/project/5.jpg", alt="")
											figcaption
												em.mdi.mdi-image
												.title
													h3 Dự án 6
			.content-item(data-content='2')
				.article-title-red-line
					h2 Video
				.row.main-videos
					.col-md-6.col-lg-4
						.item
							.lightgallery
								a(href="https://www.youtube.com/watch?v=LJUKLY8_59U")
									figure
										.image
											img(src="./img/news/6.png", alt="")
										figcaption
											em.mdi.mdi-play-circle
											.title
												h3 Video 1
					.col-md-6.col-lg-4
						.item
							.lightgallery
								a(href="https://www.youtube.com/watch?v=LJUKLY8_59U")
									figure
										.image
											img(src="./img/news/5.png", alt="")
										figcaption
											em.mdi.mdi-play-circle
											.title
												h3 Video 2
					.col-md-6.col-lg-4
						.item
							.lightgallery
								a(href="https://www.youtube.com/watch?v=LJUKLY8_59U")
									figure
										.image
											img(src="./img/news/4.png", alt="")
										figcaption
											em.mdi.mdi-play-circle
											.title
												h3 Video 3
					.col-md-6.col-lg-4
						.item
							.lightgallery
								a(href="https://www.youtube.com/watch?v=LJUKLY8_59U")
									figure
										.image
											img(src="./img/news/3.png", alt="")
										figcaption
											em.mdi.mdi-play-circle
											.title
												h3 Video 4
					.col-md-6.col-lg-4
						.item
							.lightgallery
								a(href="https://www.youtube.com/watch?v=LJUKLY8_59U")
									figure
										.image
											img(src="./img/news/2.png", alt="")
										figcaption
											em.mdi.mdi-play-circle
											.title
												h3 Video 5
					.col-md-6.col-lg-4
						.item
							.lightgallery
								a(href="https://www.youtube.com/watch?v=LJUKLY8_59U")
									figure
										.image
											img(src="./img/news/1.png", alt="")
										figcaption
											em.mdi.mdi-play-circle
											.title
												h3 Video 6
