section.home-project-target.pt
	.container
		.article-title-red-line
			p Đối tượng dự án 
		.row
			.col-sm-6.col-md-4
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
					figcaption
						h2.text-center
							a(href="#") Trẻ em từ 06-15 tuổi
			.col-sm-6.col-md-4
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/2.png", alt="")
					figcaption
						h2.text-center
							a(href="#") Trường Tiểu học & THCS chưa có hoặc thư viện đã xuống cấp
			.col-sm-6.col-md-4
				.figure-project
					.figure-image
						.wrapper
							a(href="#")
								img(src="./img/news/3.png", alt="")
					figcaption
						h2.text-center
							a(href="#") Vùng nông thôn nghèo
