section.tvc-sponsors.pd
	.container
		.article-title-red-line
			p Đơn vị tài trợ
		.main-sponsors
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/3.png", alt="")
			.item
				.image
					img(src="./img/banner/4.png", alt="")
			.item
				.image
					img(src="./img/banner/5.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/3.png", alt="")
			.item
				.image
					img(src="./img/banner/4.png", alt="")
			.item
				.image
					img(src="./img/banner/5.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/3.png", alt="")
			.item
				.image
					img(src="./img/banner/4.png", alt="")
			.item
				.image
					img(src="./img/banner/5.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/3.png", alt="")
			.item
				.image
					img(src="./img/banner/4.png", alt="")
			.item
				.image
					img(src="./img/banner/5.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
