section.tvc-sponsors.pd
	.container
		.article-title-red-line
			p Đơn vị đồng hành
		.main-sponsors
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/3.png", alt="")
			.item
				.image
					img(src="./img/banner/4.png", alt="")
			.item
				.image
					img(src="./img/banner/5.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/3.png", alt="")
			.item
				.image
					img(src="./img/banner/4.png", alt="")
			.item
				.image
					img(src="./img/banner/5.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
			.item
				.image
					img(src="./img/banner/5.png", alt="")
			.item
				.image
					img(src="./img/banner/2.png", alt="")
section.tvc-sponsors.pbt
	.container
		.article-title-red-line
			p Đơn vị tài trợ
		.main-sponsors
			.item
				.image
					img(src="./img/parner/1.png", alt="")
			.item
				.image
					img(src="./img/parner/2.png", alt="")
			.item
				.image
					img(src="./img/parner/3.png", alt="")
			.item
				.image
					img(src="./img/parner/4.png", alt="")
			.item
				.image
					img(src="./img/parner/6.png", alt="")
			.item
				.image
					img(src="./img/parner/1.png", alt="")
			.item
				.image
					img(src="./img/parner/2.png", alt="")
			.item
				.image
					img(src="./img/parner/3.png", alt="")
			.item
				.image
					img(src="./img/parner/4.png", alt="")
			.item
				.image
					img(src="./img/parner/6.png", alt="")
			.item
				.image
					img(src="./img/parner/4.png", alt="")
			.item
				.image
					img(src="./img/parner/6.png", alt="")
