section.tvc-sponsors.pd
	.container
		.home-partner-navigation-prev-2
		.home-partner-navigation-next-2
		.article-title-red-line
			p Đơn vị tài trợ
		.home-partner-swiper-wrapper-2
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/3.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/4.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/5.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/3.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/4.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/5.png", alt="")
					.swiper-slide
						.wrapper
							img(src="./img/banner/2.png", alt="")
