section.tvc-sponsors-1.pd(style="padding-bottom: 0px")
	.container
		.article-title-red-line
			p Thư ngỏ
		.main-content
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus ea explicabo exercitationem earum asperiores blanditiis animi nesciunt. Earum voluptates laborum ducimus, distinctio quo iure velit temporibus, alias commodi adipisci culpa?
			br
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus ea explicabo exercitationem earum asperiores blanditiis animi nesciunt. Earum voluptates laborum ducimus, distinctio quo iure velit temporibus, alias commodi adipisci culpa?
			br
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus ea explicabo exercitationem earum asperiores blanditiis animi nesciunt. Earum voluptates laborum ducimus, distinctio quo iure velit temporibus, alias commodi adipisci culpa?
section.tvc-sponsors.pd
	.container
		.article-title-red-line
			p Nhà đồng hành chiến lược
		.main-sponsors
			.item
				a(href="https://www.canhcam.vn/" target="_blank")
					.image
						img(src="./img/banner/p2.png", alt="")
					.title
						h3 Cánh Cam
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/3.png", alt="")
					.title
						h3 DSD
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/4.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/5.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/2.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/2.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/3.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/4.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/5.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/2.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/5.png", alt="")
					.title
						h3 Công thành co
			.item
				a(href="javacript:void(0)")
					.image
						img(src="./img/banner/2.png", alt="")
					.title
						h3 Công thành co
section.tvc-sponsors.pbt
	.container
		.article-title-red-line
			p Dự án thư viện Container - Long An
		.row(style="margin-top: 40px")
			.col-lg-2
				.nha-dong-hanh
					h2 Nhà đồng hành
			.col-lg-10
				.main-sponsors
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/5.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
		.row
			.col-lg-2
				.nha-dong-hanh
					h2 Nhà kiến tạo
			.col-lg-10
				.main-sponsors
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/5.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
		.row
			.col-lg-2
				.nha-dong-hanh
					h2 Nhà chung tay
			.col-lg-10
				.main-sponsors
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/5.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
		.row
			.col-lg-2
				.nha-dong-hanh
					h2 Nhà góp sức
			.col-lg-10
				.main-sponsors
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/5.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
		.row
			.col-lg-2
				.nha-dong-hanh
					h2 Nhà ươm mầm
			.col-lg-10
				.main-sponsors
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/5.png", alt="")
							.title
								h3 Công thành co
					.item
						a(href="javacript:void(0)")
							.image
								img(src="./img/banner/2.png", alt="")
							.title
								h3 Công thành co
section.tvc-news-2.pt(style="padding-bottom: 55px")
	.container
		.article-title-red-line
			p Tri ân các đơn vị hỗ trợ Thư viện container
		//- .main-nav
		//- 	.item(data-tab='1').active Đơn vị 1
		//- 	.item(data-tab='2')  Đơn vị 2
		//- .main-content
		//- 	.content-item
		.row
			-for(x=0; x<4; x++)
				.col-sm-6.col-md-4.col-lg-3
					.figure-news
						.figure-image
							.wrapper
								a(href="#")
									img(src="./img/news/4.png", alt="")
						figcaption
							h2
								a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
			//- .content-item(data-content='2')
			//- 	.row
			//- 		-for(x=0; x<4; x++)
			//- 			.col-sm-6.col-md-4.col-lg-3
			//- 				.figure-news
			//- 					.figure-image
			//- 						.wrapper
			//- 							a(href="#")
			//- 								img(src="./img/news/5.png", alt="")
			//- 					figcaption
			//- 						time 24/02/2019
			//- 						h2
			//- 							a(href="#") Kiểm tra định kỳ hoạt động, vận hành thư viện + cập nhật  
			//- 						.brief-content
			//- 							p Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật ,Kiểm tra định kỳ hoạt động, vận hành  thư viện + cập nhật  ...
