section.tvc-project-detail.pt
	.container
		.main-title
			h1 Trao tặng Thư viện Container cho Trường tiểu học Mỹ Hoà 1, tỉnh Đồng Tháp
		.main-slide
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide
						.image
							img(src="./img/project/1.jpg", alt="")
					.swiper-slide
						.image
							img(src="./img/project/2.jpg", alt="")
			.swiper-container.gallery-thumbs
				.swiper-wrapper
					.swiper-slide
						.image
							img(src="./img/project/1.jpg", alt="")
					.swiper-slide
						.image
							img(src="./img/project/2.jpg", alt="")
		.main-content
			.item
				.title
					h3 Dự án: 
				.content
					p Tặng thư viện container cho Trường Tiểu học Mỹ Hòa 1
			.item
				.title
					h3 Địa điểm: 
				.content
					p Trường Tiểu học Mỹ Hòa 1, huyện Tháp Mười, tỉnh Đồng Tháp.
			.item
				.title
					h3 Thời gian: 
				.content
					p Cung đường TP.HCM - Đồng Tháp - TP.HCM diễn ra từ ngày 6 đến 7/9.
		.full-content
			p Đây cũng là hoạt động nằm trong chương trình caravan hành trình kết nối giao thương nhân kỷ niệm 25 ngày thành lập YBA. Điểm nhấn của chương trình là Hội nghị xúc tiến thương mại và kết nối giao thương Đồng Tháp và TPHCM; kết nối cộng đồng doanh nhân trẻ, giới thiệu các dự án Đồng Tháp đang kêu gọi đầu tư; tạo điều kiện cho các doanh nghiệp gặp gỡ, trao đổi, hợp tác, mở rộng thị trường.
		.main-project-other
			.title-other
				h2 Dự án khác
			.main-item
				.item
					a(href="#")
						figure
							.image 
								img(src="./img/project/3.jpg", alt="")
							figcaption
								.title
									h3 Khánh thành Thư viện Container tại huyện Cư M'gar
				.item
					a(href="#")
						figure
							.image 
								img(src="./img/project/4.jpg", alt="")
							figcaption
								.title
									h3 Các em học sinh đọc sách tại thư viện 
				.item
					a(href="#")
						figure
							.image 
								img(src="./img/project/2.jpg", alt="")
							figcaption
								.title
									h3 Lễ khánh thành Thư viện Container

